.text {
    font-family: maxwell_regular, sans-serif;
    font-size: 4em;
    fill: #eeeeee;
    text-shadow: 10px 10px 0 rgba(0, 0, 0, .1);
    /*fill: transparent;*/
    /*stroke: #eeeeee;*/
    /*stroke-width: 1px;*/
    /*stroke-dasharray: 1000;*/
    /*stroke-dashoffset: 1000;*/
    /*animation: dash 1s linear forwards;*/
}

/*@keyframes dash {*/
    /*99% {*/
        /*fill: transparent;*/
    /*}*/
    /*to {*/
        /*stroke-dashoffset: 0;*/
    /*}*/
/*}*/