
/**
 * Imports
 */

@import url('../common/normalize.css');
@import url('../common/font.css');

/**
 * General
 */

::selection {
  color: white;
  background: #96c832;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.2em;
  padding: 5px 2px 2px 5px;
  padding: 42px;
  color: #111;
}

a:not(.img) {
  color: #96c832;
  text-decoration: none;
}

a:not(.img):hover {
  border-bottom: 1px solid #96c832;
}

a.icon-remove-sign {
  font-size: 4.2em;
  position: absolute;
  top: -30px;
  right: 0;
  color: #222;
}

a.icon-remove-sign:hover {
  color: #96c832;
  border-bottom: none;
}

img {
  box-sizing: border-box;
  border: 21px solid #edecdc;
  max-width: 100%;
}

blockquote {
  color: #666;
  font-style: italic;
}

pre {
  background: #edecdc;
  padding: 21px;
}

ul {
  list-style-type: square;
}

p, ul, ol {
  color: #444;
}

/**
 * Button
 */

.button {
  border: none;
  font-weight: bold;
  color: white !important;
  padding: 15px;
  background: #222;
  cursor: pointer;
  border-radius: 21px 0;
}

.button:hover {
  background: #96c832;
  border: none;
}

/**
 * Header
 */

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: .15em 0;
}

h1 {
  color: #222;
  font-size: 5em;
}

h2 {
  color: #666;
  font-size: 3em;
}

h3 {
  color: #888;
  font-size: 2em;
}

header {
  text-align: center;
  margin-bottom: 5px;
}

/**
 * Navigation
 */

nav > a[href^="#"] {
  color: #222;
  display: inline-block;
  text-decoration: none;
  width: 32.5%;
  text-align: center;
  padding: 3em 0;
  margin-bottom: 5px;
  box-sizing: border-box;
  -webkit-transition: .5s;
}

nav > a[href^="#"]:hover {
  background: #edecdc;
  border: none;
}

nav > a[href^="#"] > div[class^="icon-"] {
  font-size: 5em;
  -webkit-transition: .5s;
}

nav > a[href^="#"]:hover > div[class^="icon-"] {
  -webkit-transform: scale(1.4);
}

nav > a[href^="#"] > div.name {
  font-weight: bold;
  color: #666;
}

/**
 * Show/hide pages
 */

section {
  display: none;
  position: relative;
}

.current {
  display: block;
  -webkit-animation: up .5s;
}

.home {
  display: block;
  -webkit-animation: down .5s;
}

/**
 * Animations
 */

.shake {
  -webkit-animation-name: shake 1s;
  -moz-animation-name: shake 1s;
  -o-animation-name: shake 1s;
  animation-name: shake 1s;
}

@-webkit-keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -500px) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 500px) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

/**
 * Contact page
 */

#contact-links > a {
  color: #222;
  font-size: 4.2em;
}

#contact-links > a:hover {
  color: #96c832;
  border-bottom: none;
}

/**
 * Card
 */

.card {
  background: #222;
  display: inline-block;
  text-decoration: none;
  width: 32.5%;
  text-align: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  -webkit-transition: .5s;
  padding: 1em 0;
}
.card:hover {
  color: #222 !important;
  background: #96c832;
}
.card > [class^="icon-"], .card .title {
  -webkit-transition: .5s;
  color: white; /* overide a color */
}

.card:hover > [class^="icon-"], .card:hover .title {
  color: #222;
  -webkit-transform: scale(1.4);
}

/**
 * Articles
 */

.article.card {
  padding: 6em 0;
  margin-right: 5px;
}

.article.card .title {
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 2em;
  color: white;
}

/**
 * Menu
 */

#menu {
  font-size: 2em;
  text-align: center;
  color: #222;
  padding: 21px;
}

#menu button {
  background: transparent;
  border: none;
  color: #222;
}

#menu button:hover {
  color: #96c832;
}

/**
 * Make it responsive :)
 */

@media screen and (max-width: 700px) {
  body {
    padding: 21px;
  }

  h1 { font-size: 3em }
  h2 { font-size: 2em }
  h3 { font-size: 1.5em }

  nav > a[href^="#"] {
    width: 100%;
    padding: 2em;
  }
  nav > a[href^="#"] > div[class^="icon-"] {
    font-size: 4em;
  }

  .card {
    width: 100%;
    padding: .5em;
  }
  .article.card {
    padding: 3em;
  }

  a.icon-remove-sign {
    top: -10px;
    font-size: 2.5em;
  }
}