a:not(.img):hover {
  border-bottom:1px solid #e85353;
}

::selection,
.button:hover,
.card:hover {
  background:#e85353;
}

a.icon-remove-sign:hover,
#contact-links > a:hover,
a:not(.img),
#menu button:hover {
  color:#e85353;
}
