@import url("http://fonts.googleapis.com/css?family=Varela+Round");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
body {
  font-family: "Source Sans Pro" sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #666;
  margin: 0;
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  color: #222;
  font-family: "Varela Round" sans-serif;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}
header {
  padding: 80px 0 20px 0;
}
header .quote {
  margin-top: 20px;
}
.quote {
  font-family: "Source Sans Pro" sans-serif;
  font-style: italic;
  text-align: center;
  color: #888;
  margin: 0;
  font-size: 1.2em;
}
a:not(.btn):not(.card):not(.img) {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
}
a:not(.btn):not(.card):not(.img):before,
a:not(.btn):not(.card):not(.img):after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a:not(.btn):not(.card):not(.img):before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(52,73,94,0.2);
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
  -webkit-transform: translateY(95%);
      -ms-transform: translateY(95%);
          transform: translateY(95%);
}
a:not(.btn):not(.card):not(.img):hover:before,
a:not(.btn):not(.card):not(.img):focus:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
section {
  width: 85%;
  max-width: 800px;
  margin: auto;
  -webkit-animation: appear 0.3s;
          animation: appear 0.3s;
  padding-bottom: 40px;
}
#close {
  position: absolute;
  top: 40px;
  right: 40px;
  -webkit-animation: close-appear 1s;
          animation: close-appear 1s;
}
.btn {
  color: #444;
  text-decoration: none;
  font-size: 3em;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
.btn:hover {
  color: #222;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.card {
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 5em;
  color: #444;
  display: inline-block;
  width: 33.3%;
  padding-left: 5px;
  padding-bottom: 5px;
}
.card:first-child {
  padding-left: 0;
}
.card div {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  display: inline-block;
}
.card div .fa {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
}
.card div:hover .fa {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.card div:hover {
  background: #444;
  color: #eee;
}
@media screen and (max-width: 600px) {
  #close {
    top: 20px;
    right: 20px;
  }
  .btn {
    font-size: 2em;
  }
  .card {
    width: 100%;
    font-size: 3em;
  }
  h1 {
    font-size: 2.5em;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes close-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes close-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
