header
  h1 Jeremie Taboada
  .quote {{quote}}
nav
  card(icon="flask" href="#lab" title="Experiments")
  card(icon="file-text-o" href="{{resumeUrl}}" title="Resume")
  card(icon="envelope-o" href="#contact" title="Contact")
