btn(icon="close" href="#" id="close")
header
  h1 Contact
card(href="https://www.linkedin.com/profile/view?trk=tab_pro&id=208391836" title="Linked In" icon="linkedin")
card(href="https://github.com/jeremt" title="Github" icon="github")
card(href="https://www.facebook.com/taboada.jeremie" title="Facebook" icon="facebook")
card(href="https://plus.google.com/106788167698511705100/posts" title="Google+" icon="google-plus")
card(href="https://twitter.com/JeremieTaboada" title="Twitter" icon="twitter")
card(href="mailto:taboada.jeremie@gmail.com" title="Contact" icon="envelope")
