doctype
html(lang="en-US")
  head
    meta(charset="UTF-8")
    //- TODO(jeremie) Add mobile device meta-data
    title Jeremie Taboada's website
    link(rel="stylesheet" href="app/bower_components/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="app/index.css")
  body(ng-app="app")
    block content
    script(src="app/bower_components/ace-builds/src-min-noconflict/ace.js")
    script(src="app/bower_components/angular/angular.js")
    script(src="app/bower_components/angular-ui-ace/ui-ace.js")
    script(src="app/bower_components/angular-route/angular-route.js")
    script(src="app/scripts/index.js")
