/**
 * This stylesheet contains theme-related typography rules for this website.
 */
@import url(maxwell-font/stylesheet.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(../bower_components/font-awesome/css/font-awesome.css);

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

html /deep/ h1,
html /deep/ h2,
html /deep/ h3,
html /deep/ h4,
html /deep/ h5,
html /deep/ h6 {
    font-family: maxwell_regular, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

html /deep/ h1 {
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #222;
}

html /deep/ strong {
    font-weight: normal;
}

a {
    color: #1E88E5;
}

code {
    font-family: "Source Code Pro", sans-serif;
    color: #222222;
}