header {
    max-width: 800px;
    margin: 40px auto 0;
    padding: 20px;
}
section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
[data-page] {
    animation: .3s appear;
}
[data-page]:not(.active-state) {
    display: none;
}
.close-button {
    position: absolute;
    top: 0;
    left: 0;
}
.card {
    padding: 20px;
    border-radius: 5px;
    background: #eeeeee;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .1);
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}