header {
    max-width: 800px;
    margin: 40px auto 0;
    padding: 20px;
}
section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
[data-page]:not(.active-state) {
    display: none;
}
.close-button {
    position: absolute;
    top: 0;
    left: 0;
}