header {
    max-width: 800px;
    margin: 40px auto 0;
    padding: 20px;
}
header h1 {
    font-size: 6em !important;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
}
section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}